html
 head
      title EXPRESS
      link(rel="stylesheet", href="/style/style.css")
 body
      div.nav 
         a.lin(href="/contact") contact
         
         a.lin(href="/home") home
         
         a.lin(href="/our") our